<aside class="col-md-4 blog-sidebar">
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">
            This is my blog and custom website.
            <br />
            I write and maintain this web application, running on <a href="#">Bootstrap 4</a>, Microsoft's <a href="#">.NET Framework</a>, <a href="#">Azure Cloud</a>, and <a href="#">SQL Server.</a>
            <br />
            It's all open source and you can contribute by following the development links below.
        </p>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Development</h4>
        <ol class="list-unstyled">
            @*<li>Commit: 4hn313</li>*@
            <li>Site v1.0.2</li>
            <li>.NET Framework 4.7.2</li>
            <li>Bootstrap 4.3.1</li>
            @*<li><a href="api.joecena.com" target="_blank">Site API</a></li>*@
            <li><a href="https://github.com/joe-cena-git/JoeCena" target="_blank">GitHub Project</a></li>
            <li><a href="https://github.com/joe-cena-git/JoeCena/issues" target="_blank">Issues</a></li>
            <li><a href="https://github.com/joe-cena-git/JoeCena/wiki" target="_blank">Wiki</a></li>
        </ol>
    </div>
</aside><!-- /.blog-sidebar -->
