<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic" style="width: 800px;">Git Setup Made Simple</h1>
        <p class="lead my-3" style="width: 800px;">Get setup and moving with modern source control.</p>
        <p class="blog-post-meta">Published Aug 17 2019 @*by <a href="#">admin*@</a></p>
        @*<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Learn more...</a></p>*@
    </div>
</div>

<div class="row">
    <div class="col-md-8 blog-main">

        <div class="blog-post">
            @*<h2 class="blog-post-title">Steps</h2>*@

            <h3>Step 1: Download Git Tools</h3>
            <p>
                Visit <a target="_blank" href="https://git-scm.com/downloads">git-scm.com/downloads</a> to download Git Tools.<br />
                The installer includes <b>Git Bash</b>, a program where we can type commands for git to execute.<br />
            </p>
            <p>
                For example, I'm on a computer running Windows,<br />
                so I would click the green <b>Download 2.22.0 for Windows</b> button.
            </p>

            <img class="article-image" width="650" src="~/Images/git-tools-download-thumb.PNG" />

            <p>
               If you are on a Mac or Linux computer, select the download for your operating system.
            </p>

            <hr />
            <h3>Step 2: Initialize a Repository</h3>
            <p>
                Initialize a Repository
            </p>

            <hr />
            <h3>Step 3: Connect to a Remote</h3>
            <p>
                Add a Remote Repository
            </p>

            <hr />

            <p>
                You are now ready to:
                <ul>
                    <li>Make changes and commit them in your local repo</li>
                    <li>Push and Pull between your local and remote repos</li>
                </ul>
            </p>

            <h3>Further Reading</h3>
            <p>
                <ol>
                    <li><a href="#">Basic Git Commands</a></li>
                </ol>
            </p>

        </div>
    </div><!-- /.blog-main -->
    @{
        Html.RenderPartial("_FooterPartial");
    }
</div><!-- /.row -->
