<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">The Blog</h1>
        <p class="lead my-3">Where I share what I build and write</p>
        @*<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Learn more...</a></p>*@
    </div>
</div>

<div class="row mb-2">

    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Technology</strong>
                <h3 class="mb-0">Building the Site</h3>
                <div class="mb-1 text-muted">Aug 15 2019</div>
                <p class="card-text mb-auto">Take a look at how this site is built, join in on development, and learn more about the tech under the hood.</p>
                <a href="~/Home/About" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                @*<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@
                <img class="bd-placeholder-img" width="200" height="250" src="~/Images/visual-studio-thumb.PNG" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Business</strong>
                <h3 class="mb-0">About the Author</h3>
                <div class="mb-1 text-muted">Aug 16 2019</div>
                <p class="mb-auto">Visit my personal site to learn about my experiences building software for companies around the world.</p>
                <a href="https://www.joecenatiempo.com" target="_blank" class="stretched-link">Continue reading in new tab</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                @*<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@
                <img class="bd-placeholder-img" width="200" height="250" src="~/Images/profile-site-thumb.PNG" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
            </div>
        </div>
    </div>



</div>

<div class="row">
    <div class="col-md-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">Welcome</h2>

            <p>
                This is the landing page for my web app at <a href="https://www.joecena.com">joecena.com</a>.<br />
                This place is a jumping off point for other projects and content I share with the world.<br />
                Learn who I am at <a href="https://joecenatiempo.com" target="_blank">joecenatiempo.com</a>.
            </p>

        </div><!-- /.blog-post -->

        <div class="blog-post">
            <h2 class="blog-post-title">News Bulletin</h2>
            <p class="blog-post-meta">15 AUG 2019 @*by <a href="#">admin</a>*@</p>

            <h3>1.0 Released</h3>
            <p>
                The site is up and running on Azure at joecena.com.<br />
                The User Interface is kept as simple as possible in order to keep navigation easy and intuitive.<br />
                I hope you enjoy the clean layout as much as I do.<br />
            </p>

            <p>
                The site is up and running on Azure at joecena.com.<br />
                The User Interface is kept as simple as possible in order to keep navigation easy and intuitive.<br />
                I hope you enjoy the clean layout as much as I do.<br />
            </p>

            <h3>Entire World Burning</h3>
            <p>
                Experts point to "everyone's parents" as potential problem;<br />
                More details as events unfold.
            </p>

        </div><!-- /.blog-post -->
        @*<hr />*@

        @*<div class="blog-post">
            <h2 class="blog-post-title">Git 101</h2>
            <p class="blog-post-meta">15 AUG 2019 by <a href="#">admin</a></p>

            <p>
                <h3>My Background in git</h3>
                Over the past few years, I got to travel all around the United States training corporate teams
                to use git technology in order to write and ship software and content more effectively.
            </p>

        </div>*@<!-- /.blog-post -->


    </div><!-- /.blog-main -->
    @{
        Html.RenderPartial("_FooterPartial");
    }
</div><!-- /.row -->
