@{
    var viewModel = new DomainSite.ViewModels.ArticleJumbotronVM()
    {
        Title = "Git Setup Made Simple",
        SubTitle = "Get setup and running with modern source control.",
        PublishDate = new DateTime(2019, 8, 17)
    };

    Html.RenderPartial("_ArticleJumbotron", viewModel);
}

<div class="row">
    <div class="col-md-8 blog-main">

        <div class="blog-post">
            @*<h2 class="blog-post-title">Steps</h2>*@

            <h3>Download Git Tools</h3>
            <p>
                Visit <a target="_blank" href="https://git-scm.com/downloads">git-scm.com/downloads</a> to download Git Tools.<br />
                The installer includes <b>Git Bash</b>, a program where we can type commands for git to execute.<br />
            </p>
            <p>
                For example, I'm on a computer running Windows,<br />
                so I would click the green <b>Download 2.22.0 for Windows</b> button.
            </p>
            <p>
                <img class="article-image gray-border" src="~/Images/git-tools-download-thumb.PNG" />
            </p>

            <p>
                If you are on a Mac or Linux computer, select the download for your operating system.<br />
                Run the Installer that downloads, and simply keep clicking <b>Next</b> to select all of the default options.
            </p>

            <p>
                Once installation is complete, you should be able to <b>Right Click</b> in any folder on your computer<br />
                and see a <b>Git Bash Here</b> option.
            </p>
            <img class="article-image" src="~/Images/git-bash-here.png" />

            <p>
                Click on <b>Git Bash Here</b> and you will be presented with the Git Bash Prompt:
            </p>
            <img class="article-image" src="~/Images/git-bash.png" />
            <p>
                Congratulations! You are now set up and ready to run git commands on your local computer.
            </p>
            <hr />

            <h3>Notes</h3>
            <p>
                I usually keep my repositories in a folder at <b>C:/dev</b>.<br />
                This helps when I end up hand-typing URLs, they are nice and short.<br />
                You can keep your projects/repos where you'd like.<br />
                You can even use Git to move projects to other servers.
            </p>
            @*<hr />*@

            @*<h3>Keep Reading</h3>
                <p>
                    <ol>
                        <li><a href="#">Create A New Git Repo</a></li>
                        <li><a href="#">Connect to A Remote Git Repo</a></li>
                        <li><a href="#">Clone A Remote Git Repo</a></li>
                        <li><a href="#">Git Commands</a></li>
                    </ol>
                </p>*@

        </div>
    </div><!-- /.blog-main -->
    @{
        Html.RenderPartial("_FooterPartial");
    }
</div><!-- /.row -->
