h3 {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    font-size: 18px;
}

.blog-header-logo {
    font-size: 18px !important;
}

.article-image {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.gray-border {
    border: solid 1px gray;
}

.code {
    background-color: #343a40;
    color: white;
    padding: 10px;
    font-family: monospace;
}

.code-background-2 {
    background-color: lightslategray;
}

.code-style-1 {
    color: cyan;
}

.code-style-2 {
    color: hotpink;
}

.shake {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 1em;
    color: #333;
    display: block;
    height: auto;
    text-align: center;
    text-shadow: 0px 1px 1px #fff;
    -webkit-animation: shake 1s ease-in-out 0.1s infinite alternate;
}

@-webkit-keyframes shake {
    from {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-5deg);
    }
}